<div data-lift="surround?with=base-wrap-backend;at=content">
    <div class="col-md-12" ng-app="EventApp">
        <script>
          $(document).ready(function () {
            $('#terms-agreement').modal({
              keyboard: false,
              backdrop: false
            });

            $('#button-ok').hide().click(function () {
                  $('#terms-agreement').modal('hide');
            });
            $('#terms-agreement input').click (function () {
              if ($(this).prop('checked')) {
                $('#button-ok').fadeIn();
              } else {
                $('#button-ok').fadeOut();
              }
            })


          });
        </script>
        <div class="notifications margin-bottom-xs ">
        </div>
        <header class="page-header">
            <h2 class="no-margin-top title-page">
                <i class="glyphicon glyphicon-menu-right border-circle"></i> Evento
            </h2>
        </header>

        <div id="event-wizard" ng-controller="EventController">
            <div ng-show='loading' class='on-loading'>
              <img src="/images/ajax-loader.gif" width="25" height="25" />
            </div>

            <div id='terms-agreement' class='modal fade' tabindex='-1' role='dialog'>
              <div class='modal-dialog' role='document'>
                <div class='modal-content'>
                  <div class='modal-header'>
                    <h3>
                      Importante
                    </h3>
                  </div>
                  <div class='modal-body'>
                    <p>La solicitud de un evento en el Proyecto mARTadero no implica su automática aprobación.
                    </p>
                    <p>
                    Ten en cuenta que: 
                    <ul>
                      <li>
                        Una vez realizada la solicitud para por la evaluación de la coordinación de área.
                      </li>
                      <li>
                        En caso de ser aprobada se revisará la cotización que realizará el sistema y los datos que hayas ingresado por si hubiese alguna corrección pertinente.
                      </li>
                    </ul>
                    </p>
                    <p class='text-center'>
                       <label>
                         <input type='checkbox'>
                         He leído y entendido ésta información
                       </label>
                    </p>
                    <p class='text-center'>
                      <a id='button-ok' type='button' ng-click='myFunc()' class='btn btn-primary'>
                        Continuar
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>


            <div class="navbar wizard-nav">
                <div class="navbar-inner">
                    <ul class="nav nav-pills">
                        <li class="width-25-md" ng-class="{ active: currentTab == 'rooms'}"><a class="disabled">Salas</a></li>
                        <li class="width-25-md" ng-class="{ active: currentTab == 'dates'}"><a class="disabled">Dias/Horario</a></li>
                        <li class="width-25-md" ng-class="{ active: currentTab == 'equipment'}"><a class="disabled" >Equipos/Accesorios</a></li>
                        <li class="width-25-md" ng-class="{ active: currentTab == 'info'}"><a class="disabled" >Información</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <ul class="pager wizard">
                    <li ng-show="currentTab != 'rooms'" class="previous"><a href="#" ng-click="gotoPrevTab(currentTab)"><i class="glyphicon glyphicon-menu-left"></i> Anterior </a></li>
                    <li ng-show="currentTab != 'info'"  class="next"><a href="#" ng-click="gotoNextTab(currentTab)"> Siguiente <i class="glyphicon glyphicon-menu-right"></i></a></li>
                </ul>
                <div class="tab-pane" ng-class="{ active: currentTab == 'rooms'}" id="tab1">
                    <div class="row">
                        <div class="col-sm-12 col-lg-3">SELECCIONA LAS SALAS QUE DESEAS PINCHANDO SOBRE ELLAS</div>
                        <div class="col-sm-12 col-lg-9">
                            <div class="row" ng-repeat="room in rooms" ng-click="switchRoom(room)">
                                <div class="col-sm-8 col-lg-8">
                                    <div class="panel" ng-class="isRoomSelected(room)">
                                        <div class="panel-heading"><h3 class="panel-title">{{room.code}}</h3></div>
                                        <div class="panel-body">
                                            {{room.name}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-lg-4">
                                    <img src="/image/{{room.location.fileId}}" class="img-responsive" ng-show="room.location.fileId != ''">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" ng-class="{ active: currentTab == 'dates'}" id="tab2">
                    <div class="row">
                        <div class="col-sm-12 col-lg-12" ng-repeat="room in event.rooms">
                            <div class="panel panel-primary">
                                <div class="panel-heading"><h3 class="panel-title">{{room.code}}</h3></div>
                                <div class="panel-body">
                                    <div class="col-sm-12 col-lg-2">
                                        {{room.name}}
                                    </div>
                                    <div class="col-sm-12 col-lg-5">
                                        <input type="radio" name="reservation-kind-{{room._id}}" ng-model="room.bookingKind" value="Single"> Dias sueltos<br>
                                        <input type="radio" name="reservation-kind-{{room._id}}" ng-model="room.bookingKind" value="Period"> Dias continuos (ej: exposiciones)<br>
                                        <input type="radio" name="reservation-kind-{{room._id}}" ng-model="room.bookingKind" value="Different"> Dias discontinuos en un intervalo (ej: todos los martes del mes)<br>
                                    </div>
                                    <div class="col-sm-12 col-lg-5" ng-show="room.bookingKind == 'Period'">
                                        <label>Fecha de inicio:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                        <label>Fecha de conclusión:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <label>Turno</label>
                                            <select class="form-control">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-5" ng-show="room.bookingKind == 'Single'">
                                        <form class="form-inline">
                                            <div ng-repeat="date in room.dates">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                    </span>
                                                </div>
                                                <div class="form-group">
                                                    <label>Turno</label>
                                                    <select class="form-control">
                                                    </select>
                                                </div>
                                                <button class="btn btn-danger" ng-click="removeDate(room, date)"><i class="fa fa-minus"></i></button>
                                            </div>
                                            <div>
                                                <button ng-click="addDate(room)" class="btn btn-primary pull-right"><i class="fa fa-plus"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-sm-12 col-lg-5" ng-show="room.bookingKind == 'Different'">
                                        <label>Fecha de inicio:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                        <label>Fecha de conclusión:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <label>Seleccione los dias</label>
                                            <input type="checkbox"> Lunes <input type="checkbox"> Martes <input type="checkbox"> Miercoles <input type="checkbox"> Jueves
                                            <input type="checkbox"> Viernes <input type="checkbox"> Sabado <input type="checkbox"> Domingo
                                        </div>
                                        <div class="form-group">
                                            <label>Turno</label>
                                            <select class="form-control">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" ng-class="{ active: currentTab == 'equipment'}" id="tab3">
                    <div class="table-responsive">
                        <table class="table-equipment">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>Equipo</th>
                                    <th>Sala</th>
                                    <th>Dia</th>
                                    <th>De Horas</th>
                                    <th>a Horas</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="checkbox"/>
                                    </td>
                                    <td>
                                        <img src="http://bo.ookly.com/pics/bo/2014/10/2f90ed9d-eb0d-4c3c-b5d3-7495f35af3c2_120.jpg" alt="" />
                                    </td>
                                    <td>
                                        Data Epson 500 lumenes RGB/HDMI/VGA
                                    </td>
                                    <td>
                                        <select name="" id="">
                                            <option value="">Sala 1</option>
                                            <option value="">Sala 2</option>
                                            <option value="">Sala 3</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <select name="" id="">
                                            <option value="">18:00</option>
                                            <option value="">18:00</option>
                                            <option value="">18:00</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="" id="">
                                            <option value="">19:00</option>
                                            <option value="">19:00</option>
                                            <option value="">19:00</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="text-center">
                                            Añade otra reserva
                                            de este equipo

                                        </div>
                                        <div class="text-center">
                                            <a href="#" class="btn btn-primary" style="line-height: 0">
                                                <i class="fa fa-plus" ></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox"/>
                                    </td>
                                    <td>
                                        <img src="http://bo.ookly.com/pics/bo/2014/10/2f90ed9d-eb0d-4c3c-b5d3-7495f35af3c2_120.jpg" alt="" />
                                    </td>
                                    <td>
                                        Data Epson 500 lumenes RGB/HDMI/VGA
                                    </td>
                                    <td>
                                        <select name="" id="">
                                            <option value="">Sala 1</option>
                                            <option value="">Sala 2</option>
                                            <option value="">Sala 3</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <select name="" id="">
                                            <option value="">18:00</option>
                                            <option value="">18:00</option>
                                            <option value="">18:00</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="" id="">
                                            <option value="">19:00</option>
                                            <option value="">19:00</option>
                                            <option value="">19:00</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="text-center">
                                            Añade otra reserva
                                            de este equipo

                                        </div>
                                        <div class="text-center">
                                            <a href="#" class="btn btn-primary" style="line-height: 0">
                                                <i class="fa fa-plus" ></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" ng-class="{ active: currentTab == 'info'}" id="tab4" data-lift="PendingEventSnippet.form">
                    <span data-name="form"></span>
                </div>
                <ul class="pager wizard">
                    <li ng-show="currentTab != 'rooms'" class="previous"><a href="#" ng-click="gotoPrevTab(currentTab)"><i class="glyphicon glyphicon-menu-left"></i> Anterior </a></li>
                    <li ng-show="currentTab != 'info'"  class="next"><a href="#" ng-click="gotoNextTab(currentTab)"> Siguiente <i class="glyphicon glyphicon-menu-right"></i></a></li>
                </ul>
            </div>
        </div>

    </div>
    <tail>
        <script data-lift="Angular"></script>
        <script src="/js/angular-ui/ui-bootstrap-tpls-1.0.3.min.js"></script>
        <script data-lift="NgEventService"></script>
        <script src="/js/EventController.js"></script>
    </tail>
</div>
