/*------------------------------------*\
* Company: Genso, Iniciativas Web
* Project: FER
* Version: 1.0
* Autor: Pedroq
* Reviser: -
\*------------------------------------*/



/*------------------------------------*\
    $TABLE OF CONTENTS
\*------------------------------------*/
/*
* RESET
* ELEMENTS
* FONT-FACE
* GENERAL CLASSES
* HEADER
* BODY
* BODY SUBSECTIONS
* FOOTER
* COMPONENTS
* ALERTS
*/


/*------------------------------------*\
    $RESET
\*------------------------------------*/


/*------------------------------------*\
    $ELEMENTS
\*------------------------------------*/



/*------------------------------------*\
    $FONT-FACE
\*------------------------------------*/



/*------------------------------------*\
    $GENERAL CLASSES
\*------------------------------------*/

/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.gs-navbar.navbar-default {
	background-color: #fff;
	border: none;
}
.gs-navbar .navbar-brand {
	padding: 0 15px;
}
.gs-navbar.navbar-default .nav > li > a{
	text-transform: uppercase;
	color: #1a1a1a;
	font-size: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.gs-navbar .caret::after {
    content: "/";
    display: inline-block;
    position: absolute;
    margin-left: 7px;
    top: 15px;
    vertical-align: middle;
    z-index: 1
}




/*------------------------------------*\
    $SIDEBAR RIGHT
\*------------------------------------*/

a.nav-expander {
  color: #FFFFFF;
  display: block;
  font-size: 15px;
  font-weight: 400;
  height: 50px;
  margin-right: 0;
  padding: 1em 1.6em 2em;
  position: absolute;
  right: 0;
  text-decoration: none;
  text-transform: uppercase;
  top: 0;
  transition: right 0.3s ease-in-out 0s;
  width: 130px;
  z-index: 12;

  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;

}
a.nav-expander:hover {
  cursor: pointer;
}
a.nav-expander.fixed {
  position: fixed;
}
.gs-sidebar-right {
  background: #2d2f33;
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  right: -20em;
  font-size: 15px;
  top: 50px;
  width: 15em;
  z-index: 2000;
  
  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;

}
.nav-expanded .gs-sidebar-right {
  right: 0;
}
body.nav-expanded {
  margin-left: 0em;
  transition: right 0.4s ease-in-out 0s;
  -webkit-transition: right 0.4s ease-in-out 0s;
  -moz-transition: right 0.4s ease-in-out 0s;
  -o-transition: right 0.4s ease-in-out 0s;
}
#nav-close {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  position: absolute;
  color: #fff;
  font-size: 20px;
  top: -5px;
}

.gs-nav-right {
	padding: 30px 15px;
}
.gs-nav-right > li {
	margin-bottom: 5px;
}
.gs-nav-right li a {
	color: #fff;
	text-transform: uppercase;
}
.gs-nav-right.nav li.active a, 
.gs-nav-right.nav li > a:hover,
.gs-nav-right.nav li.active > a:focus, 
.gs-nav-right.nav li.active > a:hover {
	background-color: #111111 !important;
}
.gs-nav-right.nav.main-menu li.active > a {
	border-bottom: 1px solid #181A1E;
}
.gs-nav-right.nav.main-menu li.active > ul {
	box-shadow: 0 0 5px #000 inset;
	padding: 0;
}
.gs-nav-right.nav.main-menu li.active > ul li a {
	padding: 5px 15px;
	display: block;
	font-size: 12px;
	background-color: #1F2126
}
.gs-nav-right.nav.main-menu li.active > ul li a:hover,
.gs-nav-right.nav.main-menu li.active > ul li a:focus {
	background-color: #24262B;
}
.gs-form-right .form-control {
	background-color: #2D2F33;
	border-color: #bbb;
	color: #fff;
}
.gs-form-right {
	margin-left: 15px;
}
.gs-form-right .form-control:focus {
	box-shadow: none;
	border-color: #fff;
	border-width: 2px;
}

.main-menu a .caret {
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: top;
	border-top: 4px solid #4f5963;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
    margin-top: 8px;
}
.main-menu a:hover .caret {
	border-top-color: #4f5963;
}
.main-menu li.open > a > .caret {
	border-top: none;
	border-bottom: 4px solid #4f5963;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.main-menu li.open > a:hover > .caret {
	border-bottom-color: #4f5963;
}

/*.main-menu li > a > span.glyphicon {
  float: right;
  margin: 0.1em 1.7em -0.1em 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}
.main-menu li > a:hover > span.glyphicon {
  float: right;
  margin: 0.1em 0.8em -0.1em 0;
  opacity: 1;
}*/

.glyphicon.glyphicon-menu-right {
	float: left;
	padding-right: 5px;
}



/*CUSTOM*/

.gs-navbar #nav-expander.navbar-toggle .icon-bar {
  background-color: #bbb;
}
.gs-navbar #nav-expander.navbar-toggle {
  border: none;
}
.gs-navbar .navbar-right li #nav-expander {
    background-color: #333333;
    border: medium none;
    border-radius: 0;
    padding: 18px 7px;
    margin-left: 15px;
}
.gs-navbar .navbar-right li #nav-expander:hover,
.gs-navbar .navbar-right li #nav-expander:focus {
  background-color: #2D2F33;
    box-shadow: 0 0 5px #000 inset;
}
.gs-navbar .navbar-right .navbar-toggle {
  display: block;
  margin: 0;
}
.gs-right-search input{
	background-color: #2D2F33;
	border-color: #fff;
	color: #fff
}













